---
title = "my title"
description = "my description"
---
{{#> layout-default}}
<p>Hello, World!</p>
<p>current environment: "<script>document.write(config.environment)</script>"</p>
{{/layout-default}}